* {
    border: 2px solid green;
}

body {
    background-color: #f6f6f6;
}

.secao-01 {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 25px 0px 130px 0px;
    background-image: url('../../assets/images/fundo.svg');
    background-position: -430px 0px;
    background-size: cover;
    background-color: #404eed;
    color: white;

    position: relative;
    overflow: hidden;
}

.secao-01 a {
    cursor: pointer;
    transition: 0.4s;
    
}


.s1-tenis {
    position: absolute;
    bottom: 0px;
    left: -100px;
}

.s1-bar {
    position: absolute;
    bottom: 0px;
    right: -50px;
}


.s1-cabecalho {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    width: 1280px;

    margin-bottom: 140px;
}

.s1-cabecalho > a {
    font: 16px 'Discord02';
    background-color: #fff;
    color: #23272a;
    padding: 10px 14px;
    border-radius: 30px;
    margin: 0px 10px;

    display: flex;
    align-items: center;
}

.s1-cabecalho > a:hover {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
    color: #5865f2;
}

.s1-menu {
    display: flex;
    flex-direction: row;

}

.s1-menu a {
    font: 16px 'Discord04';
    margin: 5px 20px;
}

.s1-menu a:hover {
    text-decoration: underline;
}

.secao-01 > h1 {
    font: 56px 'discord01';
    width: 500px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 50px;
}

.secao-01 p {
    font: 20px 'discord02';
    width: 780px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 30px;
}



.s1-botoes {
    display: flex;
    flex-direction: row;


}

.s1-botoes > a {

    font: 20px 'Discord02';
    background-color: #fff;
    color: #23272a;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 0px 10px;

    display: flex;
    align-items: center;
    transition: 0.4s;
}

.s1-botoes a:hover {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
    color: #5865f2;
}

.s1-botao-escuro {
    background-color: #23272a !important;
    color: #fff !important;
}

.s1-botao-escuro:hover {
    background-color: #23272a !important;
    color: #fff !important;
}

.s1-botoes > a > svg {
    margin-right: 10px;
}

.secao-02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;

    padding: 110px 0px;

}

.s2-textos {
    display: flex;
    flex-direction: column;

    width: 370px;

}

.s2-textos h1 {
    font: 50px Discord05;
    color: black;
    line-height: 50px;
    margin-bottom: 20px;

}

.s2-textos p {
    font: 20px Discord02;
    color: black;
    line-height: 32px;

}

.secao-02 > * {
    margin: 0px 50px;
}

.secao-03 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 110px 0px;

}

.s3-textos {
    display: flex;
    flex-direction: column;

    width: 370px;

}

.s3-textos h1 {
    font: 50px Discord05;
    color: black;
    line-height: 50px;
    margin-bottom: 20px;

}

.s3-textos p {
    font: 20px Discord02;
    color: black;
    line-height: 32px;

}

.secao-03 > * {
    margin: 0px 50px;
}

.secao-04 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secao-04 > h1 {
    font: 35px 'Discord01';
    text-align: center;
    margin-bottom: 20px;
    width: 800px;
}

.secao-04 p {
    font: 20px 'Discord02';
    text-align: center;
    width: 1000px;
    margin-bottom: 30px;

}
.s4-titulo {
    font: 25px 'Discord05' !important;
    margin: 30px 0px 0px !important;
    width: 400px !important;
}

.fundo-estrela {
    display: flex;
    
}