@font-face {
    font-family: 'Discord01';
    src: url('../assets/fonts/discord01.woff2');
}

@font-face {
    font-family: 'Discord02';
    src: url('../assets/fonts/discord02.woff2');
}

@font-face {
    font-family: 'Discord03';
    src: url('../assets/fonts/discord03.woff2');
}


@font-face {
    font-family: 'Discord04';
    src: url('../assets/fonts/discord04.woff2');
}


@font-face {
    font-family: 'Discord05';
    src: url('../assets/fonts/discord05.woff2');
}


@font-face {
    font-family: 'Discord06';
    src: url('../assets/fonts/discord06.woff2');
}
